.container {
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    background: white;
    border-radius: 16px 16px 0 0;
    border: #00000040 1px solid;

    transition: all 0.5s ease-in-out;
    bottom: -100%;
    padding: 16px;
    padding-bottom: 60px;

    @supports (backdrop-filter: blur(60px)) {
        & {
            backdrop-filter: blur(60px);
            background-color: rgb(247 250 255 / 40%);
        }
    }

    @media (min-width: 481px) {
        width: 360px;
        right: 16px;
        padding-bottom: 16px;
    }

    &.opened {
        bottom: 0;
    }
}

.header {
    display: flex;
    gap: 4px;
    align-items: center;

    .close-button {
        margin-left: auto;
        border: none;
        background: none;
        font-weight: bold;
        font-size: 24px;
    }

    .station-name {
        font-weight: bold;
        font-size: 24px;
        margin: 0px;
    }
}
