.container {
    background: white;
    border-right: #00000040 1px solid;
    display: flex;
    flex-direction: column;
    z-index: 10;
    background-color: rgb(247 250 255 / 100%);

    @supports (backdrop-filter: blur(60px)) {
        & {
            backdrop-filter: blur(60px);
            background-color: rgb(247 250 255 / 40%);
        }
    }

    position: fixed;

    width: 100%;
    height: auto;

    top: 30px;
    bottom: 0;

    border-radius: 16px 16px 0 0;

    @media (min-width: 481px) {
        width: 300px;

        right: 16px;
        left: auto;
    }
    @media (min-width: 800px) and (min-height: 600px) and (orientation: landscape) {
        width: 360px;
        height: 100vh;

        left: 0;
        top: 0;

        border-radius: 0;
    }
}

.filters {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-top: 8px;
    gap: 4px;

    label {
        display: inline-block;

        input {
            margin: 0;
            display: none;

            &:checked + p {
                background: white;
                opacity: 100;
            }
        }

        p {
            margin: 0;
            background: #eaeaea;
            opacity: 40%;
            width: 100%;
            height: 100%;
            border-radius: 4px;
            padding: 8px;
            text-overflow: ellipsis;
            box-sizing: border-box;
            font-weight: bold;
            cursor: pointer;
            box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, 0.25);
            -webkit-box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, 0.25);

            @supports (backdrop-filter: blur(70px)) {
                & {
                    backdrop-filter: blur(70px);
                    background-color: rgb(248 255 249 / 74%);
                }
            }
        }
    }
}

.header {
    border-bottom: #00000040 1px solid;
    box-sizing: border-box;
    padding: 8px;
}

.routes {
    padding: 0;
    margin: 0px;
    overflow-x: hidden;
    input:not(:checked) {
        transform: translate(24px);
        opacity: 0;
        transition: transform 0.25s, opacity 0.25s;
    }

    &:hover input {
        opacity: 100;
        transform: translate(0);
    }
}

.searchInput {
    padding: 8px 12px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    border: #00000040 1px solid;
    background: #ffffff40;

    &:hover, &:focus {
        background: white;
    }
}
