.filters {
    display: flex;
    flex-direction: column;

    div {
        display: flex;
        flex-direction: row;

        input {
            margin: 0;
        }

        p {
            margin: 0;
        }
    }
}

.header {
    border-bottom: #00000040 1px solid;
}

.routes {
    padding: 0;
}
