.container {
  padding: 4px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.indicator {
  display: block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.title {
  margin: 0;
  font-size: 8px;
  line-height: 10px;
}

.subtitle {
  margin: 0;
  font-size: 10px;
  line-height: 12px;
}
