html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.map {
  &__container {
    display: flex;
  }

  &__sidebar {
    height: 100vh;
    width: 360px;
    background: white;
  }

  &__canvas {
    width: 100%;
    height: 100vh;
  }

  &__canvas-container {
    position: relative;
    width: 100%;
  }
}

.sidebar {
  &__routes {
    overflow-y: scroll;
    height: 100%;
  }

  &__filter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.route {
  &__list {
    padding: 0;
  }

  &__item {
    padding: 8px;
    gap: 8px;
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  &__item:hover {
    background: #ebf3f9;
  }

  &__badge {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 800;
    width: 44px;
    font-size: 0.7rem;
    flex-shrink: 0;
    height: 44px;
    border-radius: 50%;
  }
}
